<form #productForm="ngForm">
  <div class="input-wrapper">
    <input
      type="text"
      name="name"
      [(ngModel)]="newProduct.name"
      placeholder="Name"
      required
    />
    <div
      *ngIf="
        productForm.controls['name'].invalid &&
        (productForm.controls['name'].dirty ||
          productForm.controls['name'].touched)
      "
      class="error"
    >
      Name is required
    </div>

    <input
      type="number"
      name="price"
      [(ngModel)]="newProduct.price"
      (input)="checkPrice($event)"
      placeholder="Price"
      required
    />
    <div
      *ngIf="
        (productForm.controls['price'].invalid &&
          (productForm.controls['price'].dirty ||
            productForm.controls['price'].touched)) ||
        !isPriceAcceptable
      "
      class="error"
    >
      Price must be greater than 0
    </div>

    <input
      type="text"
      name="descriptionShort"
      [(ngModel)]="newProduct.descriptionShort"
      placeholder="Short Description"
      required
    />
    <div
      *ngIf="
        productForm.controls['descriptionShort'].invalid &&
        (productForm.controls['descriptionShort'].dirty ||
          productForm.controls['descriptionShort'].touched)
      "
      class="error"
    >
      Description is required
    </div>

    <textarea
      name="descriptionLong"
      [(ngModel)]="newProduct.descriptionLong"
      placeholder="Long Description"
      required
    ></textarea>
    <div
      *ngIf="
        productForm.controls['descriptionLong'].invalid &&
        (productForm.controls['descriptionLong'].dirty ||
          productForm.controls['descriptionLong'].touched)
      "
      class="error"
    >
      Description is required
    </div>
    <div class="flex tag-wrapper">
      <div class="tag-elem" *ngFor="let tag of tags">
        <input
          type="checkbox"
          [id]="'tag' + tag.id"
          [name]="tag.name"
          [value]="tag.id"
          (change)="updateSelectedTags(tag.id, $event)"
          placeholder="Tags"
        />
        <label [for]="'tag' + tag.id">{{ tag.name }}</label>
      </div>
    </div>

    <button
      (click)="addProduct()"
      [disabled]="productForm.invalid && !isPriceAcceptable"
    >
      Add Product
    </button>
  </div>
</form>
