<button (click)="goRoot()">Back</button>
<div class="product-form">
  <form>
    <input
      type="text"
      name="name"
      [(ngModel)]="newProduct.name"
      placeholder="Name"
    />
    <input
      type="number"
      name="price"
      [(ngModel)]="newProduct.price"
      placeholder="Price"
    />
    <input
      type="text"
      name="descriptionShort"
      [(ngModel)]="newProduct.descriptionShort"
      placeholder="DescriptionShort"
    />
    <textarea
      name="descriptionLong"
      [(ngModel)]="newProduct.descriptionLong"
      placeholder="DescriptionLong"
    ></textarea>
    <button (click)="addProduct()">Add Product</button>
  </form>
</div>
