.flex {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
}

.tag-container {
  padding: 15px 20px;
  margin: 0 10px 5px 0;
  background-color: rgb(235, 234, 234);
  border-radius: 10px;
}

li.tag-container p:nth-child(1) {
  margin: 0;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
}

@media screen and (max-width: 803px) {
  .flex {
    justify-content: center;
  }
}
